page-home {
    .theme{
        background-color: rgba(14, 13, 13, 0.63);
        color: rgba(10, 243, 68, 0.795);
        text-align: center;
    }
    .cards{
        background-color: rgba(14, 13, 13, 0.63);
        color: rgba(10, 243, 68, 0.795);
    }

    .title{
        
        color: white;
    }

    ion-slides {
        padding:0;
        margin: auto;
        width:auto;
        height:auto;
        

    }
}
