<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Aston Movie
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="theme">
  <ion-searchbar (ionInput)="onSearch($event.target.value)"></ion-searchbar>

  <div *ngIf="loading">Chargement des films...</div>

  <h1>Films Favoris</h1>

  <ion-grid *ngIf="!loading">
    <ion-row>
      <ion-col col-3></ion-col>
      <ion-col col-6>
        <ion-slides>
          <ion-slide *ngFor="let movie of favMovies" (click)="onOpenMovie(movie)">
            <img src="http://image.tmdb.org/t/p/w185{{movie.poster_path}}" />
            <h2 class="title"> {{ movie.title }}</h2>
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col col-3></ion-col>
    </ion-row>
  </ion-grid>

  <h1>Films Populaires</h1>
  <ion-grid *ngIf="!loading">
    <ion-row no-padding>
      <ion-col col-6 *ngFor="let movie of movies">
        <ion-card (click)="onOpenMovie(movie)" class="cards">
          <img src="http://image.tmdb.org/t/p/w185{{movie.poster_path}}" />
          <ion-card-content>

            {{ movie.title }}

            <ion-row no-padding>
              <ion-col>
                {{ movie.vote_average }}
                <ion-icon name='star'></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>