<ion-header>
  <ion-navbar>
    <ion-title>{{ movie.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="theme">
  <ion-card class="cards">
      <!-- <iframe width=100% height="400px"  src="https://www.youtube.com/embed/Bk9F2lt0xn4" frameborder="0" gesture="media" allowfullscreen></iframe> -->
    <ion-card-content>
      <ion-card-title>
        <h1 class="title">{{ movie.title }}</h1>
      </ion-card-title>
      <img src="http://image.tmdb.org/t/p/w185{{movie.poster_path}}"/>
      <br>
      <img src="{{ screen }}" *ngIf="state" /> 
       <p class="title">{{ movie.overview }}</p> <br>            
      {{ movie.vote_average }} <ion-icon name='star'></ion-icon><br><br>  
      <button ion-button full [color]="(movie.isInFavorite) ? 'danger' : 'light'" round (click)="onAddOrRemoveFavorite()">
          <ion-icon name="heart"></ion-icon>
      </button>
      
        <p class="movie-favorite">
          {{FavMsg}}
        </p>
     
      <button ion-button color="secondary" icon-start clear (click)="takeScreen()">
          TakeScreen
      </button>
      <button ion-button color="secondary" icon-start clear (click)="screenShot()">
          ScreenShot
      </button>      
    </ion-card-content>
  </ion-card>
</ion-content>