page-description {
    .theme {
        background-color: rgba(14, 13, 13, 0.63);
        color: rgba(10, 243, 68, 0.795);
        text-align: center;
    }
    .cards {
        background-color: rgba(14, 13, 13, 0.63);
    }
    .title {
        color: white;
    }
    .text{
        color: rgba(10, 243, 68, 0.795);
    }
    .movie-favorite{
        color: rgba(10, 243, 68, 0.795);
    }
}
