page-connexion {
    .theme{
        background-color: rgb(100, 98, 98);
        color: rgba(10, 243, 68, 0.795);
        text-align: center;
    }

    .button{
        width: 100px;
        height: 50px;
        background-color: rgba(10, 243, 68, 0.795);
        display: inline-block;
    }

    .button:hover { 
        background-color: rgba(10, 243, 68, 0.7);
    }

}
