<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Connexion</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="theme">
    <h1>Movie Aston</h1>
    <form (ngSubmit)="go_user(loginForm)" #loginForm="ngForm">
  
  
  <h1>Aston Movie</h1>
  <ion-card>
      
    <ion-item>
      <ion-label >Enter email</ion-label>
      <ion-input type="email" name ="email" ngModel></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label >Password</ion-label>
      <ion-input type="password" name ="password" ngModel></ion-input>
    </ion-item>
    </ion-card>

      <button ion-button class="button" type ="submit" block>Login</button>
         </form>
      <a href="https://www.themoviedb.org/account/signup"><button ion-button class="button" type ="submit" block>Sign in</button></a>
      
      
</ion-content>